/* line 1, /Users/o.afanasyev/projects/gasjet/app/assets/stylesheets/errors.scss */
.errors_controller {
  height: 100%;
  background-color: antiquewhite;
}
/* line 4, /Users/o.afanasyev/projects/gasjet/app/assets/stylesheets/errors.scss */
.errors_controller__content {
  height: 100%;
}
/* line 6, /Users/o.afanasyev/projects/gasjet/app/assets/stylesheets/errors.scss */
.errors_controller__content h1 {
  top: 40%;
  position: relative;
  font-family: Lobster;
  font-size: 300%;
  font-weight: 100;
  color: grey;
  text-align: center;
}




