%h1 Listing admin_producers

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @producers.each do |producer|
      %tr
        %td= link_to 'Show', producer
        %td= link_to 'Edit', edit_admin_producer_path(producer)
        %td= link_to 'Destroy', producer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Producer', new_admin_producer_path
