// Width

$siteMaxWidth: 1300px;

// Paddings

$mobilePadding: 30px;
$tabletPadding: 50px;

// Fonts

$fontArimo: "Arimo", Helvetica, Arial, sans-serif;
$fontOpenSans: "Open Sans", Helvetica, Arial, sans-serif;
$fontIcons: "icons";

// Colors

$darkGray: #3d3d3d;
$normalGray: #666;
$lightGray: #a1a1a1;
$lightestGray: #f9f9f9;
$footerGray: #e6e6e6;
$white: #fff;
$orange: #33bf88;
$red: #059e6d;
