.main-block
  .main-block__side-bar
    %ul
      %li
        .main-block__side-bar__btn Категория 1
      %li
        .main-block__side-bar__btn Категория ещё
      %li
        .main-block__side-bar__btn Цитрусы
      %li
        .main-block__side-bar__btn Просто трусы
      %li
        .main-block__side-bar__btn Шоколад
      %li
        .main-block__side-bar__btn Памперсы
      %li
        .main-block__side-bar__btn Вёдра
  .main-block__content
    %h1 Газджет
    %p Опт и розница. От ведра до удочки.
