.product_item {
  display: inline-block;
  width: 200px;
  padding: 20px;
  text-align: center;
  a {
    text-decoration: none;
  }
  .product_image {
    img {
      width: 100%;
    }
  }

  .product_info {
    :first-child {
      margin: 0;
      font-size: 2rem;
    }
    :nth-child(2) {
      color: grey;
    }
  }
}
