.product_item {
  display: inline-block;
  width: 200px;
  margin: 20px;
  text-align: center;
  background-color: white;
  &:hover {
    background-image: linear-gradient(157deg, purple, red);
  }
  a {
    padding: 20px;
    margin: 3px;
    display: inline-block;
    background-color: white;
    text-decoration: none;
  }
  .product_image {
    img {
      width: 100%;
    }
  }

  .product_info {
    :first-child {
      margin: 0;
      font-size: 2rem;
    }
    :nth-child(2) {
      color: grey;
    }
  }
}
