%li.product_item
  = link_to product do
    .product_image
      = image_tag product.image_url
    .product_info
      %p= product.name
      %p= product.producer.name


/ %p= @product.name
/ %p
/   Категория:
/   = @product.category.name
/ %p
/   Производитель
/   = @product.producer.name
/ %p
/   Вес:
/   = @product.weight
/ %p
/   Описание:
/   = @product.description

