%meta{name: 'yandex-verification', content: '62161705d7316db9' }
%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
%meta{:charset => "utf-8"}/
%meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
%meta{:content => "width=device-width, initial-scale=1.0, user-scalable=no", :name => "viewport"}/

%link{href: "https://fonts.googleapis.com/css?family=Open+Sans:300,600,800&amp;subset=cyrillic", rel: "stylesheet"}
